<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Green Agro Harvests</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/logo.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="~/Content/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/Content/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/Content/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/Content/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/fontawesome.min.css" integrity="sha512-v8QQ0YQ3H4K6Ic3PJkym91KoeNT5S3PnDKvqnwqFD1oiqIl653crGZplPdU5KKtHjO0QKcQ2aUlQZYjHczkmGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- page wrapper -->
    <div class="page-wrapper pbmit-bg-color-light" id="page">

        <!-- Header Main Area -->
        @Html.Action("Header", "Home")
        <!-- Header Main Area End Here -->
        <!-- Page Content -->
        @RenderBody()
        <!-- Page Content End -->
        <!-- footer -->
        @Html.Action("Footer", "Home")
        <!-- footer End -->

    </div>
    <!-- page wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
        <div class="pbmit-icon-close">
            <svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
                <rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
                <rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
            </svg>
        </div>
        <div class="pbmit-search-outer">
            <form class="pbmit-site-searchform">
                <input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <!-- Search Box End Here -->
    <!-- Scroll To Top -->
    <div class="pbmit-progress-wrap">
        <svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- Scroll To Top End -->
    <!-- JS
        ============================================ -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="~/Content/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/~/Content/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/Content/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/Content/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/Content/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/Content/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="~/Content/js/aos.js"></script>
    <!-- GSAP -->
    <script src='js/gsap.js'></script>
    <!-- Scroll Trigger -->
    <script src='js/ScrollTrigger.js'></script>
    <!-- Split Text -->
    <script src='js/SplitText.js'></script>
    <!-- Magnetic -->
    <script src='js/magnetic.js'></script>
    <!-- GSAP Animation -->
    <script src='js/gsap-animation.js'></script>
    <!-- Scripts JS -->
    <script src="~/Content/js/scripts.js"></script>

    <script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'8fa120f129c50fe6',t:'MTczNTU1MjI1OS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/787bc399e22f/maind41d.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>
    <script defer src="~/Content/https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8fa120f129c50fe6","version":"2024.10.5","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"125856bf84ab44059737e93b01aa0fef","b":1}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from agrimo-demo.pbminfotech.com/html-demo/indexjavascript:void() by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2024 09:52:29 GMT -->
</html>